.text-editor .w-md-editor-bar svg {
    display: none
}

.text-editor .w-md-editor-bar {
    height: 10px;
    width: 100%;
    cursor: row-resize;
    display: block;
    background-color: #37414b;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: center center;
}